# Visual Studio cache/options directory
.vs/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
.vs/

# Visual Studio Code cache/options directory
.vscode/

# Build results
bin/
obj/

# File types
*.pdb
*.xml
.DS_Store
*.svclog
*.pidb
*.scc
*.ilk
*.obj
*.iobj
*.ipdb
*.tlog

# Windows thumbnail/cache
Thumbs.db
Desktop.ini

# Backup files
*~
*.bak

# Publish folder
publish/
